body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  border-style: none;
  border-top: 1px dotted grey;
  border-width: 10px;
  width: 10%;
  margin: 100px auto;
  clear: both;
}

h1 {
  color: #66bfbf;
  font-size: 5.6rem;
  font-family: "Sacramento", cursive;
  line-height: 2;
  margin: 50px auto 0 auto;
  padding-top: 200px;
}
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  margin: 0 auto 200px;
}

.cloud-bottom {
  position: absolute;
}

.cloud-top {
  position: absolute;
  top: 150px;
  right: 30%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.aph-img {
  margin-left: 30px;
  width: 25%;
  float: right;
}

.contact-me,
.profile {
  margin-top: 100px;
}

.contact-me p {
  margin: 40px auto 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-section {
  margin-top: 100px;
  background-color: #66bfbf;
  padding: 50px 0 40px;
}

.copy-right {
  padding: 20px 0;
  color: #eaf6f6;
  font-size: 0.75rem;
}
